{% extends 'base.html' %}

{% block content %}
    <h2 class="title">Conjugaison des verbes du 2ème groupe (terminaisons)</h2>
    <h3 class="title">Exceptions:</h3>

    <div class="button-group">
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Pouvoir</a>
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Vouloir</a>
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Savoir</a>
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Valoir</a>
    </div>

    <p>
        Ici, nous avons l'exemple du verbe lese. Toutes les terminaisons s'appliquent
        après le radical les, ainsi on peut l'appliquer avec n'importe quel autre verbe
        en remplaçant son infinitif sans la terminaison par les terminaisons ci-dessous.
        <strong>Attention, le verbe cioeve (pleuvoir) a quelques exceptions, voir ci-dessous.</strong>
    </p>
    <img class="content-image" src="{{ url_for('static', filename='2eme.png') }}" alt="Terminaisons du 2ème groupe">
{% endblock %}
