{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <h2 class="title">Conjugaison des verbes du 2ème groupe(terminaisons)</h2>
    <h3 class="title">Exceptions:</h3>

    <div style="margin-bottom: 20px;">
        <!-- Correct the class name to "monaco-button" -->
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Pouvoir</a>
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Vouloir</a>
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Savoir</a>
        <a href="{{ url_for('exceptions_deuxieme') }}" class="monaco-button">Valoir</a>
    </div>

    <body> Ici, nous avons l'exemple du verbe lese, toutes les terminaisons s'appliquent 
        après le les, ainsi on peut l'appliquer avec n'importe quel autre verbe en remplaçant sont infinitif sans la terminaison
        par les terminaisons ci-dessous <strong> Attention, le verbe cioeve (pleuvoir) a quelques exceptions, voir ci-dessous</strong>
    </body>
    <style>
        /* Optional: Add more styling for the image */
        img {
            width: 700px;
            display: block; /* Ensures the image is a block element */
            margin: 0; /* Optional: Removes default margin */
        }
    </style>
    <img src="{{ url_for('static', filename='2eme.png') }}" >
    

{% endblock %}