{% extends 'base.html' %}

{% block content %}
    <h2 class="title">Recherche</h2>
    <p class="description">Cherchez un mot français ou monégasque dans le dictionnaire.</p>

    <h2 class="section-title">Rechercher des mots</h2>

    <form id="searchForm" class="search-form" action="{{ url_for('search') }}" method="get">
        <input
            type="search"
            id="searchInput"
            name="searchInput"
            placeholder="Entrez un mot"
            class="search-input"
            value="{{ query or '' }}"
            autocomplete="off"
        >
        <button type="submit" class="search-button">Rechercher</button>
    </form>

    <div id="searchResults" class="search-results" >
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% elif results %}
            <h3 class="results-title">Résultats :</h3>
            <dl class="results-list">
                {% for result in results %}
                    <dt>{{ result.word }}</dt>
                    <dd>{{ result.definition }}</dd>
                {% endfor %}
            </dl>
        {% elif searched %}
            <p class="no-results">Aucun résultat trouvé.</p>
        {% endif %}
    </div>
{% endblock %}
