{% extends 'base.html' %}

{% block content %}
    <h2 class="title">Conjugaison des verbes du 3ème groupe (terminaisons)</h2>
    
    <p>
        Ici, nous avons l'exemple du verbe finì. Toutes les terminaisons s'appliquent
        après le radical fin, ainsi on peut l'appliquer avec n'importe quel autre verbe
        en remplaçant son infinitif sans la terminaison par les terminaisons ci-dessous.
        <strong>Attention, les verbes dire, entendre, partager et venir ont quelques exceptions, voir ci-dessous.</strong>
    </p>
    <img class="content-image" src="{{ url_for('static', filename='3eme.png') }}" alt="Terminaisons du 3ème groupe">
{% endblock %}
